.bannerContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    padding: 40px;
}

.banner-heading {
    display: flex;
}

.banner-content {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
}

.banner-content-wrapper {
    position: relative;
    width: 100%;
    overflow: hidden; 
    transition: transform 0.5s ease; 
}

.banner-content-wrapper:hover {
    transform: scale(0.95); 
}

.head {
    position: absolute;
    color: white;
    top: 150px;
    left: 100px;
    display: flex;
    gap: 20px;
    flex-direction: column;
    /* border: solid; */
    text-align: center;
}

.banner-image {
    width: 100%;
}
.banner-btn-a{
    /* border: solid; */

}
.banner-btn-a button{
    border: none;
    width: 40%;
    height: 8vh;
    color: black;
    background-color: white;
    border-radius: 23px;
}
.banner-btn-a button a{
    text-decoration: none;
    color: black;
    font-size: 15px;
    font-weight: 500;
}
.banner-image img {
    width: 100%;
    height: auto;
    max-height: 500px;
    border-radius: 30px;
}

.banner-heading h2 {
    font-size: 48px;
    line-height: 1.083;
    font-weight: 600;
    letter-spacing: -0.003em;
    font-family: SF Pro Display, SF Pro Icons, Helvetica Neue, Helvetica, Arial, sans-serif;
}

.banner-image a {
    text-decoration: none;
    font-size: 24px;
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    color: black;
}

.banner-content-heading .headline {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 25px;
    line-height: 1.19048;
    font-weight: 600;
    letter-spacing: 0.011em;
    font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
