.bannerContainer{
    width: 100%;
    height: 1000px;
    border: solid;
    padding: 120px 70px 0 70px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}

.banner-heading{
    display: flex;
}

.banner-content{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
}
.head{
    position: absolute;
    color: white;
    top: 200px;
    left: 100px;
    display: flex;
    gap: 20px;
    flex-direction: column;
}
.banner-image{
    width: 100%;
}
.banner-image img{
    width: 100%;
    height: 500px;
    border-radius: 30px;
}
.banner-heading{
    font-size: 36px;
}

.banner-image{

}
.banner-image a{
    text-decoration: none;
    font-size: 24px;
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    color: black;
}
.banner-content-heading .headline{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 28px;
    font-weight: 700;
}