.banner-h2{
    /* border: solid; */
    margin-left: 55px;
} 
.allProduct-welcome-img-div{
    /* border: solid red; */
    /* object-fit: cover; */
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color:#f5f5f7;
    gap: 20px;
    position: relative;
    bottom: 30px;
    padding: 20px;
}
.allProduct-welcome-img-div h2{
    font-size: 64px;
    line-height: 1;
    font-weight: 700;
    letter-spacing: -0.009em;
    font-family: SF Pro Display, SF Pro Icons, Helvetica Neue, Helvetica, Arial, sans-serif;
}
.allProduct-welcome-img-div p{
    font-weight: 600;
    color: #86868b;
    font-size: 21px;
    line-height: 1.1904761905;
    letter-spacing: .011em;
    font-family: SF Pro Display, SF Pro Icons, Helvetica Neue, Helvetica, Arial, sans-serif;
    /* border: solid; */
    width: 75%;
}
.gallary-img-container-div{
    border: solid;
    display: grid;
    grid-template-columns: auto auto;
    gap: 10px;
    padding: 20px;
    bottom: 30px;
    position: relative;
}
.gallary-img-inner-container{
    border: solid red;
    height: 100vh;
}
.gallary-img-container img{
    border: solid;
    width: 100%;
    object-fit: cover;
    margin-top: 46vh;
    height: 53.4vh;
}