*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.Mainheader {
    background-color: rgba(245, 245, 247, .8);
    color: black;
    padding: 15px 20px;
    text-align: center;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    height: 50px;
    /* border: solid; */
    font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.Mainheader nav ul {
    /* border: solid; */
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 127px;
    margin-right: 132px;
}

.Mainheader nav ul li {
    margin-right: 20px;
}

.Mainheader nav a {
    color: black;
    text-decoration: none;
    font-size: 12px;
    font-weight: 400;
    display: flex;
    align-items: center;
}

.Mainheader nav a:hover {
    color: #000000;
}
.Mainheader{
    z-index: 9999;
    margin-bottom: 500px;
}